<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">

    <title>Sea Battle-error</title>
</head>
<body>
    <div class="wrapper">
        <h1 class="heading">Oops... It's error</h1>
        
        <!-- <p>message:<%= message %></p>
        <p>status:<%= error.status %></p>
        <p><%= {error.stack} %></p> -->
    </div>

    <script src="scripts/script.js"></script>
</body>
</html>