<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Sea Battle</title>
</head>
<body>
    <div class="wrapper">
        <h1 class="heading">Welcome to the Sea Battle!</h1>

        <!-- <div class="step1">
            <button id="start-btn" class="start-button btn">START BATTLE</button>
        </div> -->

        <div class="info-block">
            <p class="text">Please, enter your shot coordinates</p>

            <form class="coordinate-form" method="post">
                <div class="input-wrapper">
                    <label for="x-coordinate">X:</label>
                    <input id="x-coordinate" class="coordinate-input" type="number" name="x">
                </div>

                <div class="input-wrapper">
                    <label for="y-coordinate">Y:</label>
                    <input id="y-coordinate" class="coordinate-input" type="number" name="y">
                </div>

                <button class="submit-btn btn" type="submit">Fire!</button>
            </form>
        </div>
    </div>

    <script src="scripts/script.js"></script>
</body>
</html>