<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Sea Battle</title>
</head>
<body>
    <div class="wrapper">
        <h1 class="heading">Welcome to the Sea Battle!</h1>

        <div>
            <a href="/seabattle" class="start-button btn">START BATTLE</a>
        </div>
    </div>

    <script src="scripts/script.js"></script>
</body>
</html>